.wrap {
  width: 100%;
}

/*header*/
header {
  width: 100%;
  box-shadow: 0px 0px 1px 0px #54595f;
  position: fixed;
  background: #fff;
  z-index: 10;
  height: 86px;
}
header .innerheader {
  width: 1400px;
  height: 86px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
header .innerheader p.logo {
  padding: 10px;
  box-sizing: border-box;
  width: 250px;
  margin-top: 2px;
}

header .innerheader ul.nav {
  display: flex;
  justify-content: center;

  width: 840px;
  font-size: 18px;
  font-weight: 500;
  color: #5b5b5b;
}
header .innerheader ul.nav li {
  padding: 20px 27px;
  box-sizing: border-box;
}
header .innerheader ul.co {
  display: flex;
  justify-content: flex-end;
  width: 260px;
  padding-right: 25px;
  box-sizing: border-box;
  margin-bottom: 2px;
}
header .innerheader ul.co li {
  color: #5c5b5b;
  font-size: 13px;
  font-weight: 500;
  padding: 0px 5px;
  box-sizing: border-box;
}

/* section.visual */
.visual {
  width: 100%;
}
.visual .tit {
  width: 1400px;
  margin: 0 auto;
  padding-top: 139px;
  margin-bottom: 35px;
  box-sizing: border-box;
}
.visual .tit h2 {
  margin-bottom: 17px;
  font-size: 52px;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.visual .tit p {
  font-size: 17px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 22px;
}
.visual .tit span {
  display: block;
  width: 4%;
  height: 3px;
  background: #333;
  margin-bottom: 50px;
}
.visual .tit ul {
  width: 475px;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  font-weight: 600;
  color: #727272;

  margin-bottom: 42px;
}
.visual .tit ul a:hover {
  color: #000;
}
.visual .inner {
  width: 100%;
  height: 800px;
  background: url(../img/visual_bg_01.png) no-repeat bottom center/cover;
}
.visual .inner .text {
  width: 1400px;
  margin: 0 auto;
}
.visual .inner .text h2 {
  color: #adadad;
  font-size: 96px;
  font-weight: 600;
  line-height: 96px;
  padding-top: 180px;
  margin-bottom: 60px;
  text-transform: uppercase;
}
.visual .inner .text h3 {
  color: #54595f;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}
.visual .inner .text p {
  color: #7b7b7b;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.3em;
  width: 510px;
}
.visual .performance {
  width: 1400px;
  display: flex;
  justify-content: space-between;
  margin: 200px auto;
}
.visual .performance .img {
  width: 50%;
}
.visual .performance .img img {
  width: 100%;
}
.visual .performance .text {
  width: 45%;
  margin-left: 136px;
  margin-top: 70px;
}
.visual .performance .text h3 {
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.visual .performance .text span {
  display: block;
  width: 12%;
  height: 1px;
  background: #333;
  margin-bottom: 50px;
}
.visual .performance .text p {
  color: #5c5b5b;
  font-size: 17px;
  line-height: 30px;
  font-weight: 500;
}

/* section.case */
.case {
  width: 100%;
  background: #f3f5f8;
  padding-top: 115px;
  padding-bottom: 80px;
  box-sizing: border-box;
}
.case .inner {
  width: 1380px;
  margin: 0 auto;
}
.case .inner .box {
  width: 100%;
}
.case .inner .box .tit {
  display: flex;
  padding-bottom: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #979797;
  margin-bottom: 20px;
}
.case .inner .box .tit h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
}
.case .inner .box .tit span {
  color: #979797;
  font-size: 20px;
  font-weight: 500;
  display: block;
  line-height: 36px;
  padding-left: 40px;
  box-sizing: border-box;
}
.case .inner .box p {
  color: #7a7a7a;
  font-size: 13px;
  font-weight: 400;
  padding: 10px;
  text-align: right;
}
.case .inner .box .photo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 146px;
}
.case .inner .box .photo .img {
  width: 445px;
}
.case .inner .box .photo .img img {
  width: 100%;
}
/*footer*/
footer {
  width: 100%;
  margin-top: 20px;
  background-color: #19191a;
  clear: both;
}
footer .inner {
  width: 1380px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #858585;
  height: 260px;
}
footer .inner .left {
  flex: 1;
  color: #858585;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
}
footer .inner .mid {
  flex: 1;
}
footer .inner .mid > ul {
  display: flex;
  justify-content: space-between;
  width: 292px;
  font-size: 30px;
}
footer .inner .mid ul li a {
  transition: all 0.3s;
}
footer .inner .mid ul li a:hover i {
  transform: scale(1.2);
  transition: all 0.3s;
}
footer .inner .right {
  flex: 1;
}
footer .inner .right ul li a {
  font-size: 16px;
  color: #a5a5a5;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: rgba(165, 165, 165, 0.79);
  padding: 0px 6px 10px 6px;
  display: inline-block;
  margin-bottom: 24px;
  transition: all 0.3s;
  box-sizing: border-box;
}
footer .inner .right ul li a:hover {
  color: #fff;
  transition: all 0.3s;
}
footer .inner h3 {
  margin-top: 64px;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
